* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    background-color: #80bdff;
    flex-direction: column;
    color: white;
}

.temp, .header{
    cursor: pointer;
}
